#codigo {
    display: flex;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 8px;
    flex: 1 1;
    border: 1px solid #000fff;
}

.enlighter-default {
    position: sticky !important;
    top: 0 !important;
}

.enlighter-special {
    transition: 0.5s;
}