:root {
    --foundation-white: #FFFFFF;
    --foundation-black: #20293A;
    --foundation-blue-100: #F3F8FF;
    --foundation-blue-200: #B6D5FE;
    --foundation-blue-300: #7BB3F7;
    --foundation-blue-400: #4992E9;
    --foundation-blue-500: #1E71D4;
    --foundation-blue-600: #0E5EBD;
    --foundation-blue-700: #024BA2;
    --foundation-blue-800: #003882;
    --foundation-blue-900: #002659;
    --foundation-night-100: #F6F8FA;
    --foundation-night-200: #CED4DF;
    --foundation-night-300: #A6B1C2;
    --foundation-night-400: #808DA4;
    --foundation-night-500: #5C6A85;
    --foundation-night-600: #4C5974;
    --foundation-night-700: #3C4961;
    --foundation-night-800: #2E394E;
    --foundation-night-900: #20293A;
    --foundation-green-100: #F0F8F4;
    --foundation-green-300: #78BF9A;
    --foundation-green-500: #008040;
    --foundation-green-700: #00632D;
    --foundation-green-900: #003D1A;
    --foundation-yellow-100: #F9F6F0;
    --foundation-yellow-300: #CAB27B;
    --foundation-yellow-500: #916707;
    --foundation-yellow-700: #714F00;
    --foundation-yellow-900: #462F00;
    --foundation-red-100: #FEF1F1;
    --foundation-red-300: #ED8686;
    --foundation-red-500: #D52424;
    --foundation-red-700: #9B1313;
    --foundation-red-900: #5C0707;
    --foundation-purple-200: #E8DAFF;
    --foundation-purple-400: #BE95FF;
    --foundation-purple-600: #8A3FFC;
    --foundation-purple-800: #491D8B;
    --foundation-teal-200: #9EF0F0;
    --foundation-teal-400: #08BDBA;
    --foundation-teal-600: #007D79;
    --foundation-teal-800: #004144;
    --foundation-magenta-200: #FFD6E8;
    --foundation-magenta-400: #FF7EB6;
    --foundation-magenta-600: #D02670;
    --foundation-magenta-800: #740937;
    --foundation-cyan-200: #BAE6FF;
    --foundation-cyan-400: #33B1FF;
    --foundation-cyan-600: #0072C3;
    --foundation-cyan-800: #003A6D;
    --foundation-orange-200: #FFD9BE;
    --foundation-orange-400: #FF832B;
    --foundation-orange-600: #BA4E00;
    --foundation-orange-800: #5E2900;
    --component-card-root-box-shadow: 0px 6px 8px rgba(32, 41, 58, 0.08), 0px 4px 10px rgba(32, 41, 58, 0.08), 0px 3px 12px rgba(32, 41, 58, 0.12);
    --component-card-root-border-radius: 6px;
    --component-code-block-root-border-radius: 6px;
    --component-code-block-code-padding: 16px;
    --component-control-focus-outline-offset: 2px;
    --component-table-no-rows-height: 48px;
    --elevation-shadow-100: 0px 4px 5px rgba(32, 41, 58, 0.08), 0px 1px 10px rgba(32, 41, 58, 0.08), 0px 2px 4px rgba(32, 41, 58, 0.14);
    --elevation-shadow-200: 0px 6px 8px rgba(32, 41, 58, 0.08), 0px 4px 10px rgba(32, 41, 58, 0.08), 0px 3px 12px rgba(32, 41, 58, 0.12);
    --elevation-shadow-300: 0px 8px 10px rgba(32, 41, 58, 0.08), 0px 4px 14px rgba(32, 41, 58, 0.08), 0px 6px 16px rgba(32, 41, 58, 0.12);
    --elevation-shadow-500: 0px 12px 17px rgba(32, 41, 58, 0.08), 0px 5px 22px 3px rgba(32, 41, 58, 0.08), 0px 7px 28px rgba(32, 41, 58, 0.14);
    --elevation-shadow-700: 0px 18px 30px rgba(32, 41, 58, 0.08), 0px 8px 34px 3px rgba(32, 41, 58, 0.08), 0px 10px 40px rgba(32, 41, 58, 0.14);
    --size-border-radius-3: 3px;
    --size-border-radius-6: 6px;
    --size-border-radius-7: 7px;
    --size-border-radius-36: 36px;
    --size-border-width-sm: 1px;
    --size-border-width-md: 2px;
    --size-border-width-lg: 3px;
    --size-breakpoint-xs: 0px;
    --size-breakpoint-sm: 600px;
    --size-breakpoint-md: 960px;
    --size-breakpoint-lg: 1280px;
    --size-breakpoint-xl: 1920px;
    --size-font-0: 12px;
    --size-font-1: 14px;
    --size-font-2: 16px;
    --size-font-3: 20px;
    --size-font-4: 24px;
    --size-font-5: 28px;
    --size-font-6: 34px;
    --size-font-7: 40px;
    --size-font-8: 48px;
    --size-font-letter-spacing-0: 0px;
    --size-font-letter-spacing-1: -3.5px;
    --size-font-letter-spacing-2: -4px;
    --size-font-paragraph-spacing-0: 0px;
    --spacing-spaceq: 2px;
    --spacing-spaceh: 4px;
    --spacing-space01: 8px;
    --spacing-space01h: 12px;
    --spacing-space02: 16px;
    --spacing-space02h: 20px;
    --spacing-space03: 24px;
    --spacing-space04: 32px;
    --spacing-space05: 40px;
    --spacing-space06: 48px;
    --spacing-space07: 56px;
    --spacing-space08: 64px;
    --spacing-space09: 72px;
    --spacing-space10: 80px;
    --spacing-space15: 120px;
  }