:root, html[data-theme="light"] {
    --component-card-root-background: #FFFFFF;
    --component-card-root-border: 1px solid #CED4DF;
    --component-code-block-root-border: 1px solid #CED4DF;
    --component-code-block-root-background: #F6F8FA;
    --component-code-block-code-color: #20293A;
    --component-control-root-color: #20293A;
    --component-control-enabled-color: #1E71D4;
    --component-control-disabled-color: #CED4DF;
    --component-control-hover-color: #024BA2;
    --component-control-focus-outline: 2px solid #20293A;
    --component-dialog-root-background: #FFFFFF;
    --component-dialog-body-color: #5C6A85;
    --component-menu-item-root-color: #3C4961;
    --component-menu-item-root-background: #FFFFFF;
    --component-menu-item-root-selected-background: #F3F8FF;
    --component-menu-item-root-hover-background: #F6F8FA;
    --component-menu-item-root-disabled-color: #CED4DF;
    --component-menu-item-helper-text-color: #5C6A85;
    --component-table-header-color: #5C6A85;
    --component-table-row-hover-background: #F6F8FA;
    --component-table-row-hover-border-bottom: 1px solid #20293A;
    --component-table-row-selected-background: #F3F8FF;
    --component-table-row-selected-border-bottom: 1px solid #1E71D4;
    --component-table-no-rows-background: #F6F8FA;
    --component-table-no-rows-color: #3C4961;
    --component-tabs-arrow-hover-color: #A6B1C2;
    --color-background-primary: #FFFFFF;
    --color-background-secondary: #F6F8FA;
    --color-background-failure: #FEF1F1;
    --color-background-caution: #F9F6F0;
    --color-background-success: #F0F8F4;
    --color-background-info: #F3F8FF;
    --color-border-primary: #A6B1C2;
    --color-border-secondary: #CED4DF;
    --color-border-hover: #5C6A85;
    --color-border-focus: #20293A;
    --color-border-disabled: #CED4DF;
    --color-border-success: #008040;
    --color-border-caution: #916707;
    --color-border-failure: #D52424;
    --color-data-purple: #8A3FFC;
    --color-data-teal: #007D79;
    --color-data-magenta: #D02670;
    --color-data-cyan: #0072C3;
    --color-data-orange: #BA4E00;
    --color-fill-primary: #1E71D4;
    --color-fill-secondary: #5C6A85;
    --color-fill-hover: #024BA2;
    --color-fill-disabled: #F6F8FA;
    --color-fill-failure: #D52424;
    --color-fill-caution: #916707;
    --color-fill-success: #008040;
    --color-fill-data-purple: #8A3FFC;
    --color-fill-data-teal: #007D79;
    --color-fill-data-magenta: #D02670;
    --color-fill-data-cyan: #0072C3;
    --color-fill-data-orange: #BA4E00;
    --color-text-primary: #20293A;
    --color-text-secondary: #5C6A85;
    --color-text-link: #1E71D4;
    --color-text-link-hover: #024BA2;
    --color-text-disabled: #A6B1C2;
    --color-text-inverse: #FFFFFF;
    --color-text-success: #008040;
    --color-text-caution: #916707;
    --color-text-failure: #D52424;
  }