html[data-theme="dark"] {
  --component-card-root-background: #2E394E;
  --component-card-root-border: 1px solid #3C4961;
  --component-code-block-root-border: 1px solid #3C4961;
  --component-code-block-root-background: #20293A;
  --component-code-block-code-color: #FFFFFF;
  --component-control-root-color: #FFFFFF;
  --component-control-enabled-color: #7BB3F7;
  --component-control-disabled-color: #3C4961;
  --component-control-hover-color: #B6D5FE;
  --component-control-focus-outline: 2px solid #FFFFFF;
  --component-dialog-root-background: #2E394E;
  --component-dialog-body-color: #A6B1C2;
  --component-menu-item-root-color: #A6B1C2;
  --component-menu-item-root-background: #2E394E;
  --component-menu-item-root-selected-background: #3C4961;
  --component-menu-item-root-hover-background: #3C4961;
  --component-menu-item-root-disabled-color: #4C5974;
  --component-menu-item-helper-text-color: #5C6A85;
  --component-table-header-color: #A6B1C2;
  --component-table-row-hover-background: #2E394E;
  --component-table-row-hover-border-bottom: 1px solid #FFFFFF;
  --component-table-row-selected-background: #002659;
  --component-table-row-selected-border-bottom: 1px solid #7BB3F7;
  --component-table-no-rows-background: #2E394E;
  --component-table-no-rows-color: #3C4961;
  --component-table-now-rows-color: #A6B1C2;
  --component-tabs-arrow-hover-color: #F6F8FA;
  --color-background-primary: #20293A;
  --color-background-secondary: #2E394E;
  --color-background-failure: #5C0707;
  --color-background-caution: #462F00;
  --color-background-success: #003D1A;
  --color-background-info: #002659;
  --color-border-primary: #4C5974;
  --color-border-secondary: #3C4961;
  --color-border-hover: #808DA4;
  --color-border-focus: #FFFFFF;
  --color-border-disabled: #3C4961;
  --color-border-success: #78BF9A;
  --color-border-caution: #CAB27B;
  --color-border-failure: #ED8686;
  --color-data-purple: #BE95FF;
  --color-data-teal: #08BDBA;
  --color-data-magenta: #FF7EB6;
  --color-data-cyan: #33B1FF;
  --color-data-orange: #FF832B;
  --color-fill-primary: #7BB3F7;
  --color-fill-secondary: #A6B1C2;
  --color-fill-hover: #F3F8FF;
  --color-fill-disabled: #3C4961;
  --color-fill-failure: #ED8686;
  --color-fill-caution: #CAB27B;
  --color-fill-success: #78BF9A;
  --color-fill-data-purple: #BE95FF;
  --color-fill-data-teal: #08BDBA;
  --color-fill-data-magenta: #FF7EB6;
  --color-fill-data-cyan: #33B1FF;
  --color-fill-data-orange: #FF832B;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A6B1C2;
  --color-text-link: #7BB3F7;
  --color-text-link-hover: #F3F8FF;
  --color-text-disabled: #3C4961;
  --color-text-inverse: #20293A;
  --color-text-success: #78BF9A;
  --color-text-caution: #CAB27B;
  --color-text-failure: #ED8686;
}