<article class="doc">
{{#if (eq page.layout '404')}}
<link rel="stylesheet" data-refs="assets/css/site.css,../assets/css/site.css" href="assets/css/site.css">
<script data-refs="assets/css/site.css,../assets/css/site.css" src="assets/js/site.js"></script>
<h1 class="page">{{{or page.title 'Oops! We can’t find that page.'}}}</h1>
<div class="paragraph">
<p>The page you’re looking for doesn’t exist. It might have been moved or maybe there was a typo in the URL. Get back into our documentation from the links to the left or the <a href="https://docs.datastax.com/">home page</a>.
</p>
</div>
<div class="paragraph">
<ul>
    <li>
        Want to help us make the DataStax docs better for others? Fill out the form below to let us know which URL is broken and from which page. The DataStax Docs Team will review your form and fix the link. 
    </li>
    <li>
        If you arrived on this page by clicking a link on another site, notify the owner of that site that the link is broken. 
    </li>
    <li>
        Double check to make sure the URL is entered correctly.
    </li>
</ul>
</div>
<form id="alg-search-form" class="ds-search-form" action="https://www.datastax.com/search" target="_blank" method="GET">
  <div>
    <div class="ds-search-input-icon not-found">
      <svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0719 11.1326C9.04048 11.9373 7.74289 12.4167 6.33333 12.4167C2.9736 12.4167 0.25 9.69307 0.25 6.33333C0.25 2.9736 2.9736 0.25 6.33333 0.25C9.69307 0.25 12.4167 2.9736 12.4167 6.33333C12.4167 7.74289 11.9373 9.04048 11.1326 10.0719L13.5303 12.4696C13.8232 12.7625 13.8232 13.2374 13.5303 13.5303C13.2374 13.8232 12.7625 13.8232 12.4696 13.5303L10.0719 11.1326ZM1.75 6.33333C1.75 3.80203 3.80203 1.75 6.33333 1.75C8.86464 1.75 10.9167 3.80203 10.9167 6.33333C10.9167 7.56591 10.4301 8.68485 9.63861 9.50857C9.6147 9.52728 9.59166 9.54763 9.56965 9.56965C9.54763 9.59166 9.52728 9.6147 9.50857 9.63861C8.68485 10.4301 7.56591 10.9167 6.33333 10.9167C3.80203 10.9167 1.75 8.86464 1.75 6.33333Z" fill="#5C6A85"/>
      </svg>
      <input id="alg-search-input" class="ds-datastax-search-input" type="text" name="query" placeholder="Search"/>
    </div>
    <button id="alg-search-button" class="ds-search-button" type="submit" style="display: none"></button>
    <input id="dataset" type="hidden" name="dataset" value="docs"/>
  </div>
</form>
{{else}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{/if}}
{{> pagination}}
<feedback-form article="Rate this article"></feedback-form>
</article>

<script>
  function loadAlternative(element, list) {
  var image = new Image();

  image.onload = function() {
    element.src = this.href;
  }

  image.onerror = function() {
    if (list.length) {
      loadAlternative(element, list);
    }
  }
  image.src = list.shift();
}
</script>
