<article class="doc">
<h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>
<div class="paragraph">
<p>The page you’re looking for doesn’t exist. It might have been moved or maybe there was a typo in the URL. Get back into our documentation from the links to the left or the <a href="https://docs.datastax.com/">home page</a>.
</p>
</div>
<div class="paragraph">
<ul>
    <li>
        Want to help us make the DataStax docs better for others? Fill out the form below to let us know which URL is broken and from which page. The DataStax Docs Team will review your form and fix the link. 
    </li>
    <li>
        If you arrived on this page by clicking a link on another site, notify the owner of that site that the link is broken. 
    </li>
    <li>
        Double check to make sure the URL is entered correctly.
    </li>
</ul>
</div>
</article>
