<footer class="wh_footer">
    <div class="container-fluid">
        <div class="footer-container">
            <div class="bottom-icons">
                <a href="https://www.facebook.com/datastax" target="_blank" class="facebook-icon" title="Go to DataStax Facebook"></a> 
                <a href="https://twitter.com/datastax" target="_blank" class="twitter-icon" title="Go to DataStax Twitter"></a>
                <a href="https://github.com/datastax/" target="_blank" class="git-icon" title="Go to DataStax GitHub"></a> 
                <a href="https://datastax.medium.com/" target="_blank" class="medium-icon" title="Go to DataStax Medium"></a> 
                <a href="https://www.twitch.tv/datastaxdevs" target="_blank" class="twitch-icon" title="Go to DataStax Twitch"></a>
                <a href="https://www.linkedin.com/company/datastax/" target="_blank" class="linkedin-icon" title="Go to DataStax Linkedin"></a> 
            </div>
            <div class="contact-us">
                <div><a href="https://www.datastax.com" target="_blank" class="ds-bottom-logo-img" title="Go to the DataStax Website"></a></div>
                <div>
                    <p style="margin:0;">General Inquiries:   <a href="tel:+1-650-389-6000">+1 (650) 389-6000</a>  <a href="mailto:info@datastax.com">info@datastax.com</a></p>
                </div>
            </div>
            <div class="copyright-line">
                <p>
                    <span>©</span>
                    <span id="copyrightdate"></span>
                    <script type="text/javascript">document.getElementById("copyrightdate").innerHTML = new Date().getFullYear();</script>
                    <span>DataStax | <a href="https://www.datastax.com/legal/datastax-website-privacy-policy" target="_blank">Privacy policy</a>
                        | 
                        <a href="https://www.datastax.com/legal/datastax-website-terms-use" target="_blank">Terms of use</a>
                        
                </p> 
            </div>
            <div>
                <p>DataStax, Titan, and TitanDB are registered trademarks of DataStax, Inc. and its
            subsidiaries in the United States and/or other countries.</p>
                <p>Apache, Apache Cassandra, Cassandra, Apache Tomcat, Tomcat, Apache Lucene,
            Apache Solr, Apache Hadoop, Hadoop, Apache Pulsar, Pulsar, Apache Spark, Spark, Apache TinkerPop, TinkerPop,
            Apache Kafka and Kafka are either registered trademarks or trademarks of the Apache Software Foundation or its subsidiaries in Canada, the United States and/or
                other countries.</p>
                <p>Kubernetes is the registered trademark of the Linux Foundation.</p>
            </div>
            <!-- product and doc name for dsInit -->
            <div id="ds-params" style="display: none;">
                <span id="ds-product">landing_page</span>
                <span id="ds-docname">landingpage</span>
            </div>
        </div>
        <!-- Digital Attribution Code -->
        <script type="text/javascript">
            var bfId="xx4vaCYlG5ayt04m", bfSession = 0.041666666666666664;
            (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = ('https:' === document.location.protocol ? 'https://' : 'http://' ) + 'munchkin.brightfunnel.com/js/build/bf-munchkin.min.js?tstamp=' + new Date().getTime();
            var top = document.getElementsByTagName('script')[0];
            top.parentNode.insertBefore(script, top);
            })();
        </script>
        <!-- end Digital Attribution Code -->
    </div>
</footer>