<div class="body">
    {{> nav}}
    <main class="article">
    {{> toolbar}}
    <div class="content">
        <article class="doc">
            {{page.contents}}
        </article>
    </div>
    </main>
</div>
