<gcx-schema-topbar></gcx-schema-topbar>
<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <!-- <a href="{{{or site.url (or siteRootUrl siteRootPath)}}}"> -->
      <a href="https://docs.datastax.com">
              <img src="{{{uiRootPath}}}/img/logo.png" alt=""> </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
         <div class="doc-link">
          <ul id="ds_sites_list">
            <li><a href="https://docs.datastax.com/en/glossary/docs" target="_blank">Glossary</a></li>
            <li><a href="https://support.datastax.com/" target="_blank">Support</a></li>
            <li><a href="https://downloads.datastax.com/" target="_blank">Downloads</a></li>
            <li><a href="https://www.datastax.com/" target="_self">DataStax Home</a></li>
          </ul>
          <div class="navbar-end">
            <input type="checkbox" name="switch" class="switch" id="switch"/><label class="switch_label" for="switch"></label>
          </div>
        </div>
        
        <div class="navbar-end__group"> 
          <form id="alg-search-form" class="ds-search-form" action="https://www.datastax.com/search" target="_blank" method="GET">
                <div>
                  <div class="ds-search-input-icon">
                    <svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0719 11.1326C9.04048 11.9373 7.74289 12.4167 6.33333 12.4167C2.9736 12.4167 0.25 9.69307 0.25 6.33333C0.25 2.9736 2.9736 0.25 6.33333 0.25C9.69307 0.25 12.4167 2.9736 12.4167 6.33333C12.4167 7.74289 11.9373 9.04048 11.1326 10.0719L13.5303 12.4696C13.8232 12.7625 13.8232 13.2374 13.5303 13.5303C13.2374 13.8232 12.7625 13.8232 12.4696 13.5303L10.0719 11.1326ZM1.75 6.33333C1.75 3.80203 3.80203 1.75 6.33333 1.75C8.86464 1.75 10.9167 3.80203 10.9167 6.33333C10.9167 7.56591 10.4301 8.68485 9.63861 9.50857C9.6147 9.52728 9.59166 9.54763 9.56965 9.56965C9.54763 9.59166 9.52728 9.6147 9.50857 9.63861C8.68485 10.4301 7.56591 10.9167 6.33333 10.9167C3.80203 10.9167 1.75 8.86464 1.75 6.33333Z" fill="#5C6A85"/>
                    </svg>
                    <input id="alg-search-input" class="ds-datastax-search-input" type="text" name="query" placeholder="Search"/>
                  </div>
                   <button id="alg-search-button" class="ds-search-button" type="submit" style="display: none"></button>
		   <input id="dataset" type="hidden" name="dataset" value="docs"/>
                </div>
          </form>
          <span onclick="window.Intercom('show');" class="ds_buttons_button get-started">Get Live Help</span>
        </div>
       
      </div>
    </div>
  </nav>
</header>
