{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#with @root.page.componentVersion}}
    <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
  <gcx-schema-sample-app-gallery uri="./_attachments/schema.json"></gcx-schema-sample-app-gallery>
  <gcx-schema-bottom-sidebar uri="./_attachments/schema.json"></gcx-schema-bottom-sidebar>
</div>
{{/with}}
