<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
{{> nav-menu}}

  <gcx-schema-sample-app-gallery></gcx-schema-sample-app-gallery>
  <gcx-schema-bottom-sidebar></gcx-schema-bottom-sidebar>
    </div>
  </aside>
</div>
