.feedback-wrapper {
    margin: 15px 0;
    background-color: #222b49;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 17px;
}

.feedback-wrapper h2 {
    border-bottom: 1px solid #c9cef6;
    color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.stars {
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.star polygon {
    fill: #d8d8d8;
}
    
.stars:hover .star polygon {
    fill: #ffd055 !important;
}

.star:hover ~ .star polygon {
    fill: #d8d8d8 !important;
}

.stars[data-stars] .star polygon {
    fill: #ffd055;
}

.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
    fill: #d8d8d8;
}

#feedback-form {
    width: 100%;
    display: none;
}

#feedback-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#feedback-form form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
}

#feedback-form form label input,
#feedback-form form label textarea {
    display: flex;
    flex: 0 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
}

#feedback-form form label input::placeholder,
#feedback-form form label textarea::placeholder {
    color: white;
}

#feedback-form form button {
    display: flex;
    color: #555dc0;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 15px;
    text-align: right;
    border-radius: 5px;
    background-color: rgba(225,225,225,0.9);
    justify-content: center;
}

#feedback-thankyou {
    text-align: center;
    display: none;
}