footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
}

@media screen and (min-width: 576px) {
  footer.footer {
    padding-left: 3.55rem;
    padding-right: 3.55rem;
  }
}

@media screen and (min-width: 1440px) {
  footer.footer {
    padding-left: 10.6rem;
    padding-right: 10.6rem;
  }
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--footer-link-font-color);
  margin-bottom: 0.5em;
  text-decoration: none;
}

.footer p a {
  text-decoration: underline;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #43434d;
  background: #f8f9fa;
  padding: 10px 0;
  line-height: 1.5;
}

.footer .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}

.footer__nav.row .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer .d-block {
  display: block;
}

.footer .nav a {
  margin-bottom: 0.5em;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__notice span:not(:last-child)::after {
  content: " | ";
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.footer .col-lg-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.footer .col-lg {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
