html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
}

@media screen and (min-width: 576px) {
  .navbar {
    padding-left: 3.55rem;
    padding-right: 3.55rem;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 10.6rem;
  }
}

.navbar a {
  text-decoration: none;
}

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: var(--navbar-font-color);
  font-size: calc(18 / var(--rem-base) * 1rem);
  padding-left: 0.15rem;
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

.navbar-end .navbar-end__group {
  display: flex;
  align-items: center;
}

.navbar-end .search-form {
  display: none;
  width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;
}

.navbar-end .search-form .input-group {
  position: relative;
  right: auto;
  width: 100%;
  top: auto;
  background: #222b49;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 6px;
}

.navbar-end .search-form .input-group .form-control {
  width: 100%;
  height: 2.25rem;
  padding: 6px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.navbar-end .search-form .input-group .btn {
  -webkit-transition: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 2.25rem;
  z-index: 2;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

@media screen and (max-width: 992px) {
  .navbar-end .navbar-end__group:first-of-type {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-end .navbar-end__group:last-of-type {
    justify-content: center;
  }

  .navbar-end .search-form {
    display: block;
  }

  .navbar-item.search {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-end .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    color: var(--navbar-font-color-hover);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--navbar-font-color);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }
}

.navbar-brand {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

@media screen and (max-width: 991.98px) {
  .navbar-brand a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-brand svg {
    width: 180px;
    height: auto;
  }
}

.navbar-burger {
  color: var(--navbar-font-color);
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  height: var(--navbar-height);
  position: relative;
  /* width: var(--navbar-height); */
  width: 2.75rem;
  margin-left: auto;
  padding: 0;
}

.navbar-burger span {
  background: var(--navbar-font-color);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
  position: relative;
}

.navbar-item.social-icon {
  padding: 0.5rem;
}

.navbar-item.social-icon svg {
  width: 27px;
  height: 27px;
}

.navbar-item {
  flex: none;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--nav-height);
    overflow-y: auto;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background-color: var(--navbar-menu_hover-background);
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-menu {
    flex-grow: 1;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    background-color: var(--navbar-menu-background);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: var(--navbar-menu_hover-background);
  }
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}
