@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v134/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
}

:root {
    --nav-background: #FFF;
    --navbar-height: 0;
    --announcement-height: 48px;
}

.landing-row {
    display: flex;
    gap: 24px;
}

.header {
    padding: 18px 32px;
    background-color: var(--navbar-background);
}

.nav-menu>.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu {
    padding: 0.5rem 0;
}

.nav-container {
    width: 280px;
    transition: 150ms ease-in-out
}

@media screen and (min-width:769px) {
    .nav-container {
        width: 280px;
    }
}

.nav-list.toggler,
.nav-item[data-depth='0'] {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-item {
    /*padding: 8px 32px;
    margin: 0;*/
    position: relative;
}

li.nav-item.toggler.is-active:hover {
    background-color: #FFF;
}

.nav-item[data-depth='1']:hover,
.nav-item[data-depth='2']:hover,
.nav-item[data-depth='3']:hover,
.nav-item[data-depth='4']:hover {
    background-color: #f6f8fa;
}

.nav-item a:hover {
    text-decoration: none !important;
}

.nav-item.is-current-page {
    background-color: #f6f8fa;
}

.nav-item.is-current-page::before {
    content: '';
    border: 2px solid var(--blue);
    top: 0;
    background: var(--blue);
    left: 0;
    position: absolute;
    height: 100%;
}

.get-started {
    padding-right: 15px;
}

ul#ds_sites_list {
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #FFF;
    margin: 0;
    padding: 0;
}

ul#ds_sites_list li {
    display: inline;
    padding-right: 15px;
}

ul#ds_sites_list li a {
    color: #FFF;
}

ul#ds_sites_list li a:visited {
    color: #FFF;
}

ul#ds_sites_list li a:active {
    color: #FFF;
}

.ds_buttons_button {
    color: #FFF;
    font-weight: 500;
    line-height: 1.22;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 8px 12px;
    width: 135px;
    height: 40px;
    background: var(--blue);
    border-radius: 6px;
    cursor: pointer;
}

.navbar-menu {
    display: table-cell;
}

.navbar-end__group {
    margin: 12px 0 0 0;
    justify-content: end;
}

.navbar-end {
    flex-direction: column;
}

.navbar {
    justify-content: space-between;
    top: unset;
    position: unset;
    background: var(--navbar-background);
    z-index: 4;
    height: 80px;
    padding-left: 0;
    padding-right: 0;
}

.toolbar {
    position: unset;
    top: unset;
}


/* breadcrumbs */

.breadcrumbs li {
    color: #74767B;
}


/* Alerts */

.doc .admonitionblock td.content {
    --admonition-background: transparent;
}

.doc .admonitionblock tr {
    display: block;
}

.doc .admonitionblock.caution tr {
    display: block;
    background: #d8ddf2;
    border: 1px solid #3b4260;
    border-radius: 6px;
}

.doc .admonitionblock.caution td.content {
    --admonition-color: #3b4260;
}

.doc .admonitionblock.caution .title {
    --caption-font-color: #3b4260;
}

.doc .admonitionblock.tip tr {
    display: block;
    background: #F0F8F4;
    border: 1px solid #008040;
    border-radius: 6px;
}

.doc .admonitionblock.tip td.content {
    --admonition-color: #008040;
}

.doc .admonitionblock.tip .icon {
    --tip-color: #008040;
}

.doc .admonitionblock.tip .title {
    --caption-font-color: #008040;
}

.doc .admonitionblock.warning tr {
    display: block;
    background: #F9F6F0;
    border: 1px solid #916707;
    border-radius: 6px;
}

.doc .admonitionblock.warning td.content {
    --admonition-color: #916707;
}

.doc .admonitionblock.warning .icon {
    --warning-color: #916707;
}

.doc .admonitionblock.warning .title {
    --caption-font-color: #916707;
}

.doc .admonitionblock.important tr {
    display: block;
    background: #FEF1F1;
    border: 1px solid #D52424;
    border-radius: 6px;
}

.doc .admonitionblock.important td.content {
    --admonition-color: #D52424;
}

.doc .admonitionblock.important .icon {
    --important-color: #D52424;
}

.doc .admonitionblock.important .title {
    --caption-font-color: #D52424;
}

.doc .admonitionblock.note tr {
    display: block;
    background: #F3F8FF;
    border: 1px solid #1E71D4;
    border-radius: 6px;
}

.doc .admonitionblock.note td.content {
    --admonition-color: #1E71D4;
}

.doc .admonitionblock.note .icon {
    --note-color: #1E71D4;
}

.doc .admonitionblock.note .title {
    --caption-font-color: #1E71D4;
}

.doc .exampleblock>.content {
    border-width: 1.5px;
}


/*Card Styles*/

feedback-stars {
    --spacing-space01h: 16px;
}

.feedback-wrapper {
    --spacing-space01h: 16px;
}

.doc .sidebarblock>.content>.title {
    text-align: left;
}

.doc p {
    font-size: 16px;
    text-align: left;
}

.doc .imageblock {
    align-items: flex-end;
}

.doc pre:not(.highlight),
.doc pre.highlight code {
    font-size: 14px;
}

.doc h2:not(.discrete) {
    font-size: 21px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-bottom: 12px!important;
    cursor: pointer;
}

.doc .sidebarblock {
    margin: 24px 0 0;
    padding: 24px;
    box-shadow: 0px 6px 8px rgb(32 41 58 / 8%), 0px 4px 10px rgb(32 41 58 / 8%), 0px 3px 12px rgb(32 41 58 / 12%);
    border-radius: 6px;
}


/* CODE PAGE */

.full-articles .doc {
    margin: 0 0 0 2em;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    padding: 0;
}

.enlighter-default {
    margin: 0!important;
    font-family: 'Roboto Mono', monospace!important;
}

gcx-full-code {
    border: 1px solid #CED4DF;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    flex: 0 1 50%;
    min-width: auto;
}

gcx-full-code::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.full-articles .doc::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

schema#gcx-schema {
    display: none;
}

.doc .sect1 {
    margin-top: 1rem;
    padding: 0 0 0 20px;
}

.doc .paragraph {
    padding: 0 1rem;
}

.doc .sect1.active {
    background-color: #eceef0;
    padding: 20px 0 20px 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    margin-top: 1rem;
    border-color: var(--section-divider-color);
}

.doc .sect1.active h2:after {
    content: url(../img/small-arrow-right.svg);
    margin: 0 10px;
    float: right;
    text-decoration: none;
}

.full-articles {
    flex: 0 1 50%;
}

gcx-full {
    width: 100%;
}


/*Button in Header*/

a.ds_buttons_button {
    margin: 0 8px;
    width: 74px;
}

.ds_buttons_button:hover {
    background: #7BB3F7;
}

a.ds_buttons_button:hover {
    color: var(--white)!important;
    text-decoration: none!important;
}


/*Search input*/

.ds-search-input-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--white);
    border: 1px solid #A6B1C2;
    border-radius: 6px;
    padding: 14px;
    width: 320px;
    height: 40px;
}

.ds-search-input-icon input,
.ds-search-input-icon input:focus,
.ds-search-input-icon input:focus-visible {
    border: none;
    outline: none;
}

.ds-search-input-icon input {
    padding-left: 10px;
}

.ds-search-input-icon input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #A6B1C2;
}


/*Navigation Sidebar*/

.nav-menu h3.title {
    padding: 8px 32px!important;
}

.nav-item.toggler {
    padding: 8px 0;
    cursor: pointer;
}

.nav-item.toggler>button {
    padding: 0;
    margin: 0 10px;
}

.nav-item.toggler .nav-text {
    padding: 0 32px;
}

.nav-item.toggler .nav-list {
    margin: 8px 0;
}

li.nav-item[data-depth='2'] {
    padding: 8px 32px;
}

gcx-schema-sample-app-gallery {
    --gcx-sample-appgallery-h4-font-size: 14px;
    --gcx-app-gallery-p-font-size: 14px;
    --gcx-sample-appgallery-h4-font-weight: 700;
    padding-top: 36px;
    padding-bottom: 76px;
}

gcx-schema-bottom-sidebar {
    --gcx-sidebar-li-font-size: 16px;
    --gcx-sidebar-li-display: inline-flex;
    --gcx-sidebar-li-padding: 8px 32px;
}


/* Collapsible Sidebar */

.sidebar.small-container {
    width: 55px;
}

.small-container .small-nav-list {
    display: block!important;
}

.small-nav-list {
    transition: 150ms ease-in-out;
    display: none;
    margin-top: 20rem;
}

.small-nav-list a.nav-link {
    padding: 0 10px;
}

.sidebar.small-container .main-content .nav-list {
    display: none;
}

.sidebar.small-container .main-content .title {
    display: none;
}

.small-container gcx-schema-sample-app-gallery {
    --gcx-sample-appgallery-card-padding: 0;
    --gcx-sample-appgallery-card-background: transparent;
    --gcx-sample-appgallery-card-border: 0;
    --gcx-app-gallery-name-display: none;
    --gcx-app-gallery-icon-font-size: 20px;
    padding-bottom: 0;
}

.small-container gcx-schema-bottom-sidebar {
    --gcx-sidebar-h4-display: none;
    --gcx-sidebar-li-padding: 10px 16px;
    --gcx-sidebar-li-display: none;
    --gcx-sidebar-li-font-size: 20px;
}

.main-content {
    width: 100%;
}

.navbar-end-custom {
    margin-top: 0.5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.small-container .navbar-end-custom {
    justify-content: center;
}

.collapse[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-top: -10px;
}

label.collapse_label {
    cursor: pointer;
    text-indent: -65px;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    position: relative;
    font-size: 11px;
    font-weight: bold;
}

label.collapse_label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.collapse[type="checkbox"]+label {
    background-image: url(../img/open.svg);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    transition: width 150ms ease-in-out;
    z-index: 1;
}

.collapse[type="checkbox"]:checked+label {
    background-image: url(../img/closed.svg);
    background-repeat: no-repeat;
    height: 25px;
    width: 15px;
    transition: width 150ms ease-in-out;
    display: inline-block;
}


/* Header Navbar */


/* Footer */

footer .container-fluid {
    margin: 0 40px;
}

.bottom-icons a:hover {
    opacity: 0.8;
}

.wh_footer {
    padding-bottom: 32px;
    font-size: 16px;
}

.contact-us p {
    line-height: 26px;
}

.copyright-line {
    font-weight: bold;
}

a.nav-link {
    display: block;
    padding: 8px 32px;
    margin: 0;
}

.nav-item a,
.nav-item span,
.nav-item.toggler>span {
    font-size: 14px;
}

gcx-schema-topbar {
    --gcx-topbar-padding: 14px 0;
    font-size: 16px;
    font-weight: 700;
}

.dark-mode feedback-form {
    --color-text-primary: #FFF;
}


/*Navigation menu*/

.navbar a:hover {
    text-decoration: underline;
}


/*lists*/

.nav-item.toggler[data-depth="1"] {
    z-index: 1;
}

.nav-item.toggler[data-depth="1"] .nav-text {
    z-index: -1;
    position: relative;
}


/* Switch Dark Mode */

.doc-link {
    display: flex;
}

.switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-top: -10px;
}

label.switch_label {
    cursor: pointer;
    text-indent: -65px;
    width: 50px;
    height: 30px;
    background: #d4cfcf;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    position: relative;
    font-size: 11px;
    font-weight: bold;
}

label.switch_label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.switch[type="checkbox"]+label {
    background-image: url(../img/moon.svg);
    height: 40px;
    width: 40px;
    display: inline-block;
    z-index: 1;
}

.switch[type="checkbox"]:checked+label {
    background-image: url(../img/sun.svg);
    height: 40px;
    width: 40px;
    display: inline-block;
}


/*Dark mode: Mobile Header */

.dark-mode .navbar-menu {
    background: var(--color-black);
    ;
}


/* Dark mode: Navigation*/

.dark-mode .nav {
    background: var(--color-jet-80);
}

.dark-mode li.nav-item.toggler.is-active:hover {
    background: var(--color-jet-80);
}

.dark-mode .nav-menu h3.title {
    color: var(--white);
}

.dark-mode .nav-item span,
.dark-mode .nav-item a,
.dark-mode .nav-item button {
    color: var(--white);
}

.dark-mode .nav-item span:hover,
.dark-mode .nav-item a:hover,
.dark-mode .nav-item button:hover {
    color: var(--color-black);
}

.dark-mode li.nav-item.toggler[data-depth="1"]:hover .nav-text {
    color: var(--color-black);
}

.dark-mode li.nav-item.toggler[data-depth="1"]:hover button {
    color: var(--color-black);
}

.dark-mode li.nav-item.toggler.is-active[data-depth="1"] .nav-text {
    color: var(--white);
}

.dark-mode li.nav-item.toggler.is-active[data-depth="1"] .nav-item-toggle {
    color: var(--white);
}

.dark-mode li.nav-item.toggler.is-active[data-depth="1"]:hover .nav-text {
    color: var(--white);
}

.dark-mode li.nav-item.toggler.is-active[data-depth="1"]:hover .nav-item-toggle {
    color: var(--white);
}

.dark-mode .nav-item.is-current-page a {
    color: var(--color-black);
}

.dark-mode .nav-item.is-current-page::before {
    background: var(--gray);
    border: 2px solid var(--gray);
}


/* Dark mode: Toolbar*/

.dark-mode .toolbar {
    color: var(--white);
    background-color: var(--color-jet-80);
}


/* Dark mode: Body*/

.dark-mode body {
    background-color: var(--color-jet-80);
}


/* Dark mode: Titles*/

.dark-mode .doc h1,
.dark-mode .doc h2,
.dark-mode .doc h3,
.dark-mode .doc h4,
.dark-mode .doc h5,
.dark-mode .doc h6 {
    color: var(--white);
}


/*Dark mode: Footer*/

.dark-mode .wh_footer {
    background-color: var(--color-black);
}


/* Dark mode: Header*/

.dark-mode .header,
.dark-mode .navbar {
    background-color: var(--color-black);
}


/* Dark mode: Top Bar*/

.dark-mode gcx-schema-topbar {
    --gcx-topbar-bgcolor: var(--gray-dark);
    ;
}


/* Dark mode: Bottom Sidebar*/

.dark-mode gcx-schema-bottom-sidebar {
    --gcx-sidebar-h4-color: var(--white);
    --gcx-sidebar-li-color: var(--white);
}


/* Dark mode: buttons */

.dark-mode .ds_buttons_button {
    background: var(--gray-dark);
}

.dark-mode .ds_buttons_button:hover {
    background: var(--gray);
}


/* Dark mode: cards*/

.dark-mode .doc {
    color: var(--white);
}

.dark-mode .doc .sidebarblock {
    background: var(--gray-dark);
}

.dark-mode .helios-card {
    background-color: var(--gray-dark);
}

.dark-mode .doc pre:not(.highlight),
.doc pre.highlight code {
    background: var(--gray-dark);
    box-shadow: inset 0 0 1.75px var(--gray-dark);
}

.dark-mode .doc .exampleblock>.content {
    background: var(--gray-dark);
}

.dark-mode .doc .admonitionblock td.content {
    background: var(--gray-dark);
}


/*Dark Mode Aside Menu*/

.dark-mode .toc .toc-menu a {
    color: var(--white);
    border-left: 2px solid var(--color-sidebar);
}

.dark-mode .toc .toc-menu h3 {
    color: var(--color-blue-gray-2);
}

.dark-mode .toc .toc-menu a:hover {
    color: #c8cbd3;
}

.dark-mode .helios-text-field-label {
    color: var(--white);
}

.navbar-brand img {
    height: 40px;
}


/* Right Block - Code */

.enlighter-t-bootstrap4 .enlighter-m0 {
    color: #8A3FFC!important;
}

.enlighter-t-bootstrap4 .enlighter-m3 {
    color: #8A3FFC!important;
}

.enlighter-t-bootstrap4 .enlighter-k0 {
    color: #007D79!important;
}

.enlighter-t-bootstrap4 .enlighter-text {
    color: #3C4961!important;
}

.enlighter-t-bootstrap4 .enlighter-s0 {
    color: #0072C3!important;
}

.enlighter-t-bootstrap4 .enlighter-n1 {
    color: #BA4E00!important;
}


/* Dark Mode - Code Block */

.dark-mode .enlighter-t-bootstrap4 {
    background-color: #3C4961!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-text {
    color: #ffffff!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-m0 {
    color: #BE95FF!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-m3 {
    color: #BE95FF!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-k0 {
    color: #08BDBA!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-s0 {
    color: #33B1FF!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-k1 {
    color: #3797f0!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-n1 {
    color: #FF832B!important;
}

.dark-mode .enlighter-t-bootstrap4 .enlighter-k5 {
    color: #ffffff;
}

.dark-mode .doc .sect1.active {
    background-color: #20293A!important;
}

.dark-mode .enlighter-t-bootstrap4 div.enlighter>div.enlighter-special {
    background-color: #20293A!important;
}