	.landing-row {
	    display: flex;
	    gap: 20px;
	}
	
	.full-articles .doc {
	    position: sticky;
	    top: 0;
	}
	
	.nav-list {
	    display: flex;
	}
	
	.nav-menu>.nav-list {
	    margin: 0 0 0 .75rem;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    padding: 0px;
	    position: absolute;
	    width: 328px;
	    height: 458px;
	    left: calc(50% - 328px/2);
	    top: 88px;
	}
	
	.navbar {
	    background: #20293A;
	    z-index: 4;
	    height: 80px;
	}
	
	.nav-container {
	    width: 360px;
	}
	
	@media screen and (min-width:769px) {
	    .nav-container {
	        width: 360px !important
	    }
	}
	/*
	.navbar {
	    background: #20293A;
	    z-index: 4;
	    height: 80px;
	}
	
	.navbar-item,
	.navbar-link {
	    position: absolute !important;
	    left: 1.67%;
	    right: 90.77%;
	    top: 25%;
	    bottom: 25%;
	}
	
	.toolbar {
	    height: 88px;
	    width: 100%;
	}
	
	.nav-list {
	    display: flex;
	}
	
	.nav-menu>.nav-list {
	    margin: 0 0 0 .75rem;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    padding: 0px;
	    position: absolute;
	    width: 328px;
	    height: 458px;
	    left: calc(50% - 328px/2);
	    top: 88px;
	}
	
	.nav-item {
	    margin-top: none;
	    width: 100%;
	    height: 48px;
	    background: #FFFFFF;
	    border-radius: 6px;
	    flex: none;
	    order: 1;
	    flex-grow: 0;
	}
	
	.nav-menu {
	    position: none
	}
	
	.nav-menu h3.title {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    padding: 16px 24px;
	    gap: 16px;
	    position: absolute;
	    width: 360px;
	    height: 72px;
	    left: 0px;
	    top: 0px;
	 
	    background: #FFFFFF;
	    box-shadow: 0px 2px 0px #CFD4E0;
	}
	
	.nav {
	    position: absolute;
	    width: 360px;
	    left: 0px;
	    top: 80px;
	    bottom: 0px; 
	    background: #FFFFFF;
	    box-shadow: 2px 0px 0px #CFD4E0 !important;
	}
	
	.nav-container {
	    width: 360px;
	}
	
	@media screen and (min-width:769px) {
	    .nav-container {
	        width: 360px !important
	    }
	}
    */
	
	:root {
	    --announcement-height: 48px;
	}
	
	.navbar {
	    top: var(--announcement-height);
	}