:root {
    --nav-background: #FFF;
    --navbar-height: 0;
    --announcement-height: 48px;
}

.landing-row {
    display: flex;
    gap: 20px;
}

.full-articles .doc {
    position: sticky;
    top: 0;
}

.header {
    padding: 1em;
    background-color: var(--navbar-background);
}

.nav-menu>.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu {
    padding: 0.5rem 0;
}

.navbar {
    background: var(--navbar-background);
    z-index: 4;
    height: 80px;
}

.nav-container {
    width: 360px;
}

@media screen and (min-width:769px) {
    .nav-container {
        width: 360px !important
    }
}

.nav-list.toggler,
.nav-item[data-depth='0'] {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-item {
    padding: 8px 40px;
    margin: 0;
    position: relative;
}

li.nav-item.toggler.is-active:hover {
    background-color: #FFF;
}

.nav-item[data-depth='1']:hover,
.nav-item[data-depth='2']:hover,
.nav-item[data-depth='3']:hover,
.nav-item[data-depth='4']:hover {
    background-color: #f6f8fa;
}

.nav-item a:hover {
    text-decoration: none !important;
}

.nav-item.is-current-page {
    background-color: #f6f8fa;
}

.nav-item.is-current-page::before {
    content: '';
    border: 2px solid var(--blue);
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
}

.get-started {
    padding-right: 15px;
}

ul#ds_sites_list {
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #FFF;
    margin: 0 0 0 19px;
    padding: 0;
}

ul#ds_sites_list li {
    display: inline;
    padding-right: 15px;
}

ul#ds_sites_list li a {
    color: #FFF;
}

ul#ds_sites_list li a:visited {
    color: #FFF;
}

ul#ds_sites_list li a:active {
    color: #FFF;
}

.ds_buttons_button {
    border-radius: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    background: #FF9d2C;
    padding: 8px 11px 8px 14px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

.navbar-menu {
    display: table-cell;
}

.navbar-end__group {
    margin: 12px 0 0 0;
    justify-content: end;
}

.navbar-end {
    flex-direction: column;
}

.navbar {
    /*top: var(--announcement-height);*/
    justify-content: space-between;
    top: unset;
    position: unset;
}

.toolbar {
    position: unset;
    top: unset;
}