:root {
  /* colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #555dc0;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  --color-light-orange: #ff9d2c;
  --color-night-blue: #1f2438;
  --color-dark-blue: #064773;
  --color-medium-blue: #005992;
  --color-ds-blue: #0055ab;
  --color-navy-blue: #3b4260;
  --color-light-navy: #a3aac8;
  --color-bright-blue: #007bf7;
  --color-light-blue: #52e1ff;
  --color-sky-blue: #accee7;
  --color-blue-gray-4: #484d60;
  --color-blue-gray-3: #6a7086;
  --color-blue-gray-2: #999dad;
  --color-blue-gray-1: #c8cbd3;
  --color-light-gray: #f8f9fa;
  --color-medium-gray: #c8cbd3;
  --color-dark-gray: #6c6e75;
  --color-very-dark-gray: #363b3d;
  --color-near-black: #222b49;
  --color-light-green: #51ddbd;
  --color-green: green;
  --color-red: red;
  --color-sidebar: #f7f8ff;
  --color-navbar-hover: #ccc;

  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-near-black);
  --body-font-family: "Nunito Sans", "Work Sans", sans-serif;
  --body-font-weight-bold: 600;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-sidebar);
  --panel-border-color: #c9cef6;
  --scrollbar-thumb-color: var(--color-lgiht-gray);
  /* navbar */
  --navbar-background: var(--color-near-black);
  --navbar-font-color: var(--color-white);
  --navbar-font-color-hover: var(--color-navbar-hover);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-near-black);
  --navbar-menu-font-color: var(--color-white);
  --navbar-menu-font-color-hover: var(--navbar-hover);
  --navbar-menu_hover-background: var(--color-near-black);
  --navbar-logo: url(../img/logo.png);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-light-gray);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-night-blue);
  --nav-muted-color: var(--color-blue-gray-3);
  --nav-panel-divider-color: var(--color-blue-gray-3);
  --nav-secondary-background: var(--color-blue-gray-3);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-blue-gray-3);
  --toolbar-muted-color: var(--color-blue-gray-1);
  --page-version-menu-background: var(--color-blue-gray-3);
  --page-version-missing-font-color: var(--color-blue-gray-1);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* admonitions */
  --caution-color: var(--color-navy-blue);
  --caution-on-color: var(--color-white);
  --important-color: var(--color-red);
  --important-on-color: var(--color-white);
  --note-color: var(--color-bright-blue);
  --note-on-color: var(--color-white);
  --tip-color: var(--color-green);
  --tip-on-color: var(--color-white);
  --warning-color: var(--orange);
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-blue-gray-4);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-night-blue);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #555dc0;
  --link_hover-font-color: #555dc0;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-blue-gray-3);
  --abstract-font-color: var(--color-navy-blue);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--color-near-black);
  --admonition-color: var(--color-white);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-white);
  /* --caption-font-color: var(--color-navy-blue); */
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-blue-gray-3);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-light-gray);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-light-gray);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-blue-gray-3);
  --quote-font-color: var(--color-blue-gray-3);
  --quote-attribution-font-color: var(--color-blue-gray-1);
  --sidebar-background: var(--color-sky-blue);
  --table-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-near-black);
  --footer-font-color: var(--color-white);
  --footer-link-font-color: var(--color-white);
  /* dimensions and positioning */
  --navbar-height: calc(74 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
