[data-template="landing"] .toc.sidebar {
    display: none;
}

.toc .toc-menu a:hover{
    color: var(--color-purple-links);
}

.dark-mode .toc .toc-menu a:hover{
    color: var(--color-dark-mode-links);
}


.toc-menu {
    color: var(--color-black);
}

/*Dark Mode Aside Menu*/

.dark-mode .toc .toc-menu a {
    color: var(--white);
    border-left: 2px solid var(--color-sidebar);
}

.dark-mode .toc .toc-menu a:hover {
    color: #c8cbd3;
}

/* Setting the content menu sticky */

.toc.sidebar .toc-menu {
    top: 0!important;
    overflow-y: auto;
    max-height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.toc.sidebar .toc-menu::-webkit-scrollbar {
    display: none;
}

.dark-mode .sidebar.toc .toc-menu a:focus {
    background-color: var(--color-purple-secondary-dark);
}