.doc .admonitionblock .title,
.doc .admonitionblock .content > .title,
.doc .admonitionblock .content > .paragraph > .title {
    color: var(--color-black);
}

.doc .exampleblock .title,
.doc .imageblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title,
.doc .tableblock caption {
    color: var(--color-black);
}

.doc .admonitionblock .quoteblock .title {
  color: var(--quote-font-color);
}

.dark-mode .doc .admonitionblock .title,
.dark-mode .doc .admonitionblock .content > .title,
.dark-mode .doc .admonitionblock .content > .paragraph > .title,
.dark-mode .doc .exampleblock .title,
.dark-mode .doc .imageblock .title,
.dark-mode .doc .literalblock .title,
.dark-mode .doc .listingblock .title,
.dark-mode .doc .openblock .title,
.dark-mode .doc .tableblock caption {
    color: var(--body-background);
}

.doc .sidebarblock>.content>.title {
    color: var(--color-black);
    text-align: left;
}

/* Dark mode: Titles*/

.dark-mode .doc h1,
.dark-mode .doc h2,
.dark-mode .doc h3,
.dark-mode .doc h4,
.dark-mode .doc h5,
.dark-mode .doc h6 {
    color: var(--white);
    text-decoration: none;
}

.dark-mode .doc .quoteblock .title {
    color: inherit;
}

.dark-mode .doc h2:not(.discrete) {
    border-bottom: 1px solid var(--color-purple-secondary-dark);
}

.dark-mode .doc .sidebarblock>.content>.title{
    color: var(--white);
}


.dark-mode .toc .toc-menu h3 {
    color: var(--color-purple-secondary-darker);
}

.doc h2:not(.discrete) {
    font-size: 21px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-bottom: 12px!important;
    cursor: pointer;
}

.doc .sect1.active h2:after {
    content: url(../img/small-arrow-right.svg);
    margin: 0 10px;
    float: right;
    text-decoration: none;
}

.sidebar.small-container .main-content .title {
    display: none;
}

.dark-mode .nav-menu h3.title {
    color: var(--white);
}

.nav-menu h3.title {
    padding: 8px 32px!important;
}