[data-template="landing"] .toc.sidebar {
    display: none;
}

.toc .toc-menu a:hover{
    color: var(--color-purple-links);
}

.dark-mode .toc .toc-menu a:hover{
    color: var(--color-dark-mode-links);
}


.toc-menu {
    color: var(--color-black);
}

/*Dark Mode Aside Menu*/

.dark-mode .toc .toc-menu a {
    color: var(--white);
    border-left: 2px solid var(--color-sidebar);
}

.dark-mode .toc .toc-menu a:hover {
    color: #c8cbd3;
}