/* HEADER AND NAVBAR STYLES */

.header {
    padding: 18px 32px;
    background-color: var(--color-black);
}

/* Dark mode: Header*/

.dark-mode .header,
.dark-mode .navbar {
    background-color: var(--color-black);
}

.navbar-menu {
    background: transparent!important;
    box-shadow: 0!important;
    display: table-cell;
}

.navbar-end .navbar-end__group {
    margin: 12px 0 0 0;
    justify-content: flex-end;
    display: none;
}

@media screen and (min-width:1024px) {
    .navbar-end .navbar-end__group {
        display: flex;
    }
}

.navbar-end__group form {
    margin-right: 15px;
}

.navbar-end {
    flex-direction: column;
}

.navbar {
    justify-content: space-between;
    top: unset;
    position: unset;
    background: var(--color-black);
    z-index: 4;
    height: 35px;
    padding-left: 0;
    padding-right: 0;
}

/*Navigation menu*/

.navbar a:hover {
    text-decoration: underline;
}

/* Switch/toggle Dark-Light Mode */

.doc-link {
    display: none;
    align-items: center;
}

@media screen and (min-width:1024px) {
    .doc-link {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .is-clipped--navbar .navbar-menu {
        background: #2e394e;
        box-shadow: none!important;
    }
    .is-clipped--navbar #topbar-nav {
        transition: all .7s linear;
    }
    .is-clipped--navbar .ds_buttons_button {
        margin: 12px 0 0;
    }
    .is-clipped--navbar .navbar-switch {
        margin: 12px 0 0;
    }
    .is-clipped--navbar .header {
        padding: 18px 32px 205px 32px
    }
    .is-clipped--navbar .doc-link {
        display: flex!important;
        align-items: flex-start;
        flex-direction: column;
    }
    .navbar-brand a {
        padding-left: 0;
        padding-right: 0;
    }
    .is-clipped--navbar .navbar-end .navbar-end__group {
        display: flex!important;
        align-items: flex-start;
        flex-direction: column;
    }
}

.navbar-switch {
    margin-left: 20px;
    margin-right: 2px;
}

.switch_label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch_label input {
    display: none;
}

.slider {
    box-shadow: 0 0 0 2px #ebebeb;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    background-color: #ebebeb;
    align-items: center;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 6px 0 0 6px;
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider svg {
    z-index: 2;
}

/* Not Checked */

input.switch+.slider svg:nth-of-type(1) path {
    fill: var(--color-purple);
}

input.switch+.slider svg:nth-of-type(2) path {
    fill: #74767b;
}


/*Checked*/

input.switch:checked+.slider svg:nth-of-type(1) path {
    fill: #74767b;
}

input.switch:checked+.slider svg:nth-of-type(2) path {
    fill: var(--color-purple);
}

input.switch:checked+.slider:before {
    border-radius: 0 6px 6px 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}



@media screen and (min-width:1024px) {
    .navbar{
        height: 80px;
    }
}

/* Navbar menu list */
ul#ds_sites_list {
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #FFF;
    margin: 0;
    padding: 0;
}

/* Navbar menu list items */

ul#ds_sites_list li {
    display: inline;
    padding-right: 15px;
}

ul#ds_sites_list li a {
    color: #FFF;
}

ul#ds_sites_list li a:visited {
    color: #FFF;
}

ul#ds_sites_list li a:active {
    color: #FFF;
}