.dsHeroBlock,
.dsHeroBlock[data-banner="default"] {
    background-image: url('../img/hero-banner-1.svg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  
  .dsHeroBlock[data-banner="alternative"]{
    background-image: url('../img/hero-banner-2.svg');
  }
  
  .dsHeroBlock[data-banner="astra"]{
    background-image: url('../img/hero-banner-3-Astra.svg');
  }
  
  .dsHeroBlock[data-banner="dse"]{
    background-image: url('../img/hero-banner-4-DSE.svg');
  }

  .dsHeroBlock[data-banner="luna"]{
    background-image: url('../img/hero-banner-5-Luna.svg');
  }
  
  
  .toolbar:has(~ .content .dsHeroBlock),
  h1.page:has(~ #preamble .dsHeroBlock) {
    visibility: hidden;
  }

  .toolbar:has(~ .dsHeroBlock),
  .dsHeroBlock + .content h1.page {
    display: none;
  }  
  
  .dsHeroContent {
    width: 100%;
  }
  
  .dsHeroTitle h1 {
    font-weight: 400;
  }


  @media screen and (min-width: 1024px) {
    .dsHeroBlock {
      padding: 1rem 3rem;
      margin-bottom: 0;
    }
    .dsHeroContent {
        width: 70%;
    }
  }

  @media screen and (min-width: 1460px) {
    .dsHeroContent {
        width: 55%;
    }
  }
