/* Alerts */

.doc .admonitionblock td.content {
    background: transparent;
}

.doc .admonitionblock tr {
    display: block;
}

.doc .admonitionblock .tableblock tr {
    display: table-row;
}   

.doc .admonitionblock .tableblock.fit-content {
    display: table-cell;
}

.doc .admonitionblock tr {
    word-break: break-word;
}

.doc .admonitionblock.caution > table > tbody > tr {
    display: block;
    background: var(--color-white);
    border: 2px solid #E64328;
    border-radius: 6px;
}

.doc .admonitionblock.caution td.content {
    color: var(--color-black);
}

.doc .admonitionblock.tip > table > tbody > tr {
    display: block;
    background: var(--color-white);
    border: 2px solid var(--color-green-700);
    border-radius: 6px;
}

.dark-mode .doc .admonitionblock.tip tr {
    background: var(--color-purple-700);
}

.doc .admonitionblock.tip td.content {
    color: var(--color-black);
}

.dark-mode .doc .admonitionblock td.content{
    background: var(--color-purple-700);
    color: var(--color-white)!important;
}

.doc .admonitionblock.warning > table > tbody > tr {
    display: block;
    background: var(--color-white);
    border: 2px solid var(--color-red-500);
    border-radius: 6px;
}

.doc .admonitionblock.warning td.content {
    color: var(--color-black);
}

.doc .admonitionblock.important > table > tbody > tr {
    display: block;
    background: var(--color-white);
    border: 2px solid var(--color-gray-neutral-700);
    border-radius: 6px;
}

.doc .admonitionblock.important td.content {
    color: var(--color-black);
}

.doc .admonitionblock.note > table > tbody > tr {
    display: block;
    background: var(--color-white);
    border: 2px solid var(--color-green-700);
    border-radius: 6px;
}

.doc .admonitionblock.note td.content {
    color: var(--color-black);
}

.doc .exampleblock>.content {
    border-width: 1.5px;
}