.doc .admonitionblock .icon {
    padding: 0 1.5rem;;
}

.doc .admonitionblock.tip .icon,
.doc .admonitionblock.note .icon {
    color: var(--color-green-700);
    background-color: var(--color-green-700);
    border: 2px solid var(--color-green-700);
}

.doc .admonitionblock.warning .icon,
.doc .admonitionblock.caution .icon {
    color: var(--color-red-500);
    background-color: var(--color-red-500);
    border: 2px solid var(--color-red-500);
}

.doc .admonitionblock.important .icon {
    color: var(--color-gray-neutral-700);
    background-color: var(--color-gray-neutral-700);
    border: 2px solid var(--color-gray-neutral-700);
}

.dark-mode .doc .admonitionblock.important .icon {
    color: var(--color-gray-neutral-500);
    background-color: var(--color-gray-neutral-500);
    border: 2px solid var(--color-gray-neutral-500);
}


.doc .admonitionblock .icon i::after {
    color: white;
}

.copy-icon {
    background-image: url(../img/octicons-16.svg#view-clippy);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.dark-mode .copy-icon {
    background-image: url(../img/octicons-16-white.svg#view-clippy);
}

/* Footer icons container */
.bottom-icons a:hover {
    opacity: 0.8;
}