<!DOCTYPE html>
<html lang="en">
  <head> 
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{> header}}
  <div class="body">
  {{> nav}}

  <main class="article">
  {{> toolbar}}
    <div class="content">
  {{#if (eq page.layout '404')}}
  {{> article-404}}
  {{else}}
  <!--{{> toc}}-->
  <script id="antora-main-block" type="text/html">  
  {{> article}}
  </script> 
  <gcx-full template-script="antora-main-block" ></gcx-full>
  {{/if}}
    </div>
  </main>

  <script> 
    let schemaScript = document.querySelector("#antora-main-block").innerHTML;
    var htmlObject = document.createElement('div');
    htmlObject.innerHTML = schemaScript;
    let schemaFull = htmlObject.querySelector("#gcx-schema")==null?null:htmlObject.querySelector("#gcx-schema").innerHTML;

    if (schemaFull !== null) {

        schemaFull = JSON.parse(schemaFull);
        const topbar = document.querySelector("gcx-schema-topbar");
        const sidebar = document.querySelector("gcx-schema-bottom-sidebar");
        const sampleApp = document.querySelector("gcx-schema-sample-app-gallery");
        topbar.uri = schemaFull;
        sidebar.uri = schemaFull;
        sampleApp.uri = schemaFull;
    }
  </script>
  </div>
{{> footer}} 

{{> intercom}}
  </body>
</html>
