<!DOCTYPE html>
<html lang="en">
  <head>
  
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body}}
{{> footer}}

{{> intercom}}

  <script >
     !(function () {
   let divs = document.querySelector("[class*=gcx-feedback-form]");
      if(divs!==null){
      const titulo = divs.querySelector("h2").innerText;

      divs.innerHTML = `
      <feedback-form article="${titulo}"></feedback-form>
      `;
      }
     })();
   
      
    </script>
  </body>
</html>
