<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/css/site.css">
{{> head defaultPageTitle='Page Not Found'}}
  </head>
  <body class="status-404">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
